.article-title {
    font-size: 100px;
    color: white;
    font-family: 'Lora', serif; 
    font-weight: 900;
    line-height: 105px;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
    width: 700px;
  }

  .article-text-left {
    font-size: 35px;
    color: white;
    font-family: 'Lora', serif; 
    font-weight: 900;
    line-height: 40px;
    padding-top: 30px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    float: left;
    margin-bottom: 30px;
    width: 95%;
  }

  .article-text-right {
    font-size: 35px;
    color: white;
    font-family: 'Lora', serif; 
    font-weight: 900;
    line-height: 40px;
    padding-top: 30px;
    padding-left: 2.5%;
    padding-right: 1%;
    text-align: right;
    float: right;
    margin-bottom: 30px;
    width: 95%;
  }

  .article-text-center {
    font-size: 35px;
    color: white;
    font-family: 'Lora', serif; 
    font-weight: 900;
    line-height: 40px;
    padding-top: 30px;
    padding-left: 2.5%;
    padding-right: 1%;
    text-align: center;
    margin-bottom: 30px;
    width: auto;
  }

  .article-text-tip {
    font-size: 20px;
    color: white;
    font-family: 'Lora', serif; 
    font-weight: 900;
    line-height: 40px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: auto;
    padding-right: 300px;
    padding-left: 300px;

  }

  .wrapper {
    width: 100%;
    padding-top: 200px;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
  }

  .second {
    border: 1px solid black;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

  .versus-text-left {
    display: inline-block; 
    font-size: 35px;
    color: white;
    font-family: 'Lora', serif; 
    font-weight: 900;
    line-height: 40px;
    padding-top: 30px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    float: left;
    margin-bottom: 30px;
    width: 65%;
  }

  .button_text {
    font-family: 'Lora', serif;
    font-size: 25px;
    color: white;
    font-weight: 900;

  }

  .stacked_text_info {
    font-family: 'Lora', serif;
    color: white;
    text-align: 'left';
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    padding-left: "5%"
  }
 
  .background {
    background-color: black;
    overflow: hidden;
  }   

  body, html{
    margin:0;
    padding:0;
}
  .red {
    background-color: red;
  }   

  .article-text-left transInc {
    color: #377eb8
  }

  .article-text-left oabr {
    color: #f0b27a
  }


  /* AXIS BITS /////////////////////////////////////////////////////////////////*/

  .axis line{ /* used on axis ticks */
    stroke: white;
    stroke-width: 5;  

  }
  .axis path{ /* used on axis */
    stroke: white;
    stroke-width: 5;  
    shape-rendering: crispEdges;

  }
  
  .axis text{ /* used on axis text */
    fill: white;
    font-weight: 900;
    font-family: 'Lora', serif; 
    font-size: medium
  }  

  .yaxis line{ /* used on axis ticks */
    stroke: white;
    stroke-width: 5;  

  }
  .yaxis path{ /* used on axis */
    stroke: white;
    stroke-width: 5;  
    shape-rendering: crispEdges;

  }
  
  .yaxis text{ /* used on axis text */
    fill: white;
    font-weight: 900;
    font-family: 'Lora', serif; 
    font-size: medium;  
    opacity: 0
  }  
  

  .axisStackedY line{ /* used on axis ticks */
    stroke: white;
    stroke-width: 5;  
  }
  
  .axisStackedY path{ /* used on axis */
    stroke: white;
    stroke-width: 5;  
    shape-rendering: crispEdges;

  }
  
  .axisStackedY text{ /* used on axis text */
    fill: white;
    font-weight: 900;
    font-family: 'Lora', serif; 
    font-size: medium
  }  
