.article-title {
    font-size: 100px;
    color: white;
    font-family: 'Lora', serif; 
    font-weight: 900;
    line-height: 105px;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
    width: 700px;
  }

  .article-text-left {
    font-size: 35px;
    color: white;
    font-family: 'Lora', serif; 
    font-weight: 900;
    line-height: 40px;
    padding-top: 30px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    float: left;
    margin-bottom: 30px;
    width: 95%;
  }

  .article-text-right {
    font-size: 35px;
    color: white;
    font-family: 'Lora', serif; 
    font-weight: 900;
    line-height: 40px;
    padding-top: 30px;
    padding-left: 2.5%;
    padding-right: 1%;
    text-align: right;
    float: right;
    margin-bottom: 30px;
    width: 95%;
  }

  .button_text {
    font-family: 'Lora', serif;
    font-size: 25px;
    color: white;
    font-weight: 900;

  }

  .stacked_text_info {
    font-family: 'Lora', serif;
    color: white;
    text-align: 'left';
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    padding-left: "5%"
  }
 
  .background {
    background-color: black;
  }   


  /* AXIS BITS /////////////////////////////////////////////////////////////////*/

  .axis line{ /* used on axis ticks */
    stroke: white;
    stroke-width: 5;  

  }
  .axis path{ /* used on axis */
    stroke: white;
    stroke-width: 5;  
    shape-rendering: crispEdges;

  }
  
  .axis text{ /* used on axis text */
    fill: white;
    font-weight: 900;
    font-family: 'Lora', serif; 
    font-size: medium
  }  

  .axisStackedY line{ /* used on axis ticks */
    stroke: white;
    stroke-width: 5;  
  }
  
  .axisStackedY path{ /* used on axis */
    stroke: white;
    stroke-width: 5;  
    shape-rendering: crispEdges;

  }
  
  .axisStackedY text{ /* used on axis text */
    fill: white;
    font-weight: 900;
    font-family: 'Lora', serif; 
    font-size: medium
  }  
