.article-title, .article-text-left, .article-text-right, .article-text-center, .article-text-tip, .article-text-tip-first, .wrapper-text-left, .wrapper-text-right, .stacked_text_info, .scatter-versus-info {
  font-size: 35px;
  color: white;
  font-family: 'Lora', serif;
  font-weight: 900;
  line-height: 40px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.article-title {
  font-size: 100px;
  line-height: 105px;
  padding-left: 30px;
  width: 700px;
}

.stacked_text_info {
  text-align: 'left';
  font-size: 25px;
  line-height: 30px;
  padding-left: "5%"
}

.article-text-left {
  text-align: left;
  float: left;
  padding-left: 1%;
  width: 95%;
}

.article-text-right {
  text-align: right;
  float: right;
  padding-left: 2.5%;
  
  padding-right: 1%;
  width: 95%;
}

.article-text-center {
  text-align: center;
  /* display: inline-block; */
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 0px;
  width: auto;
  }

.article-text-tip {
  font-size: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: auto;
  padding-right: 300px;
  padding-left: 300px;
}

.article-text-tip-first {
  font-size: 20px;
  padding-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  width: auto;
  padding-right: 100px;
  padding-left: 100px;
}

.wrapper-text-left {
  display: inline-block;
  padding-top: 30px;
  padding-left: 1%;
  padding-right: 1%;
  text-align: left;
  float: left;
  /* ignore warning, this is needed*/
}

.wrapper-text-right {
  display: inline-block;
  padding-top: 30px;
  padding-right: 2.5%;
  text-align: right;
  float: right;
  /* ignore warning, this is needed*/
  /* width: 400px; */
}

.wrapper-svg-left, .wrapper-svg-right {
  border: 1px solid black;
  overflow: hidden;
  /* if you don't want #second to wrap below #first */
}

.wrapper {
  /* / width: 100%; */
  padding-top: 50px;
  border: 1px solid black;
  overflow: hidden;
  font-size: 0;
  /* will contain if #first is longer than #second */
}

.button_text {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: white;
  font-weight: 900;
}

.background {
  background-color: black;
  overflow: hidden;
  /**/
  margin: auto;
}

/* COLORS /////////////////////////////////////////////////////////////////*/

.red {
  background-color: red;
}

mark {
  background-color: transparent;
}

mark.white {
  color: white
}
mark.black {
  color: black
}
mark.bls {
  color: #cc3300
}

mark.nonfatal {
  color: #03B7EC;
}

mark.fatal {
  color: Gold;
}

mark.trans {
  color: #377eb8
}

mark.violence {
  color: red
}

mark.fire {
  color: #ff7f00
}

mark.falls {
  color: #984ea3
}

mark.exp {
  color: #ffff33
}

mark.contact {
  color: #4daf4a
}

mark.oabr {
  color: #f0b27a
}

mark.other {
  color: #e78ac3
}



/* AXIS BITS /////////////////////////////////////////////////////////////////*/

.scatterXAxis text, .scatterYAxis text, .axis text, .yaxis text, .axisStackedY text, .axisScatterVersusY text {
  /* used on axis text */
  fill: white;
  font-weight: 900;
  font-family: 'Lora', serif;
  font-size: medium
}

.scatterXAxis line, .scatterYAxis line, .yaxis line, .axis line, .axisStackedY line {
  /* used on axis ticks */
  stroke: white;
  stroke-width: 5;
}

.scatterXAxis path, .scatterYAxis path, .yaxis path, .axis path, .axisStackedY path {
  /* used on axis */
  stroke: white;
  stroke-width: 5;
  shape-rendering: crispEdges;
}

.yaxis text {
  /* used on axis text */
  opacity: 0
}

.axisScatterVersusY line {
  /* used on versus scatter axis ticks */
  stroke: white;
  stroke-width: 0;
}

.axisScatterVersusY path {
  /* used on axis */
  stroke: white;
  stroke-width: 2;
  shape-rendering: crispEdges;
  pointer-events: "none";
}

